.Rbuildignore
*.pper
*.Rproj

.Rproj.user/B02E1720/persistent-state

.Rproj.user/B02E1720/sdb/prop/B698F763

.Rproj.user/B02E1720/sdb/prop/D125403C

.Rproj.user/B02E1720/sdb/prop/DB1377D6

.Rproj.user/B02E1720/sdb/prop/INDEX

.Rproj.user/B02E1720/sdb/s-C9EB021E/22C355F3

.Rproj.user/B02E1720/sdb/s-C9EB021E/A21F5F94

.Rproj.user/B02E1720/sdb/s-C9EB021E/B039434B

.Rproj.user/B02E1720/sdb/s-C9EB021E/lock_file
.Rproj.user
mailR.Rproj
